* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Previne scroll horizontal */
    width: 100%;
    position: relative;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 60px;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 45px;
}

.logo img {
    height: 45px;
    width: auto;
    transition: all 0.3s ease;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    margin: 0 auto;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
}

.nav-menu a:hover {
    color: #38013f;
    transform: translateY(-3px);
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #38013f;
    transition: width 0.3s ease;
}

.nav-menu a:hover::after {
    width: 100%;
}

/* Menu Mobile - Estilos Base */
.menu-mobile {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
}

.menu-mobile span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #38013f;
    transition: 0.3s ease;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 3px;
}

.social-icon {
    color: #9b03af;
    font-size: 1.3rem;
    opacity: 0.9;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.social-icon:hover {
    transform: translateY(-2px);
    color: #38013f;
}

/* Ajuste para o conteúdo não ficar embaixo do header */
main {
    margin-top: 80px; /* Altura do header */
}

.menu-toggle {
    display: none; /* Esconde no desktop */
} 